<div id='modal-comments' class="modal hide fade">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> </button>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Comentário</h3>
  </div>
  <div class="modal-body">
    <%= form_for(comment, remote: true) do |f| %>
    <%= render partial: 'shared/error_messages', locals:{resource: comment} %>
      <%= f.text_area :content, style: 'width:90%;' %>
      <br/>
      <%= f.submit 'Salvar', class: 'btn btn-success' %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :commentable_id %>
    <% end %>
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
  </div>
</div>